/* Write your CSS here */
.container{
background-image:linear-gradient(to right,#fa7257,#fc63a7);
height:100vh;
}
.box{
    box-sizing:border-box;
    width:200px;
    height:200px;
    padding:40px;
    color:black;
}
.display-none{
    visibility:hidden;
}
.display-block{
    visibility:visible;
}